body {
	background-color: antiquewhite;
	margin-top: 2%;
}

.ctrls {
	margin: 5px;
}

.bounds {
	padding: 0;
}

.cell {
	border-radius: 0px;
	padding: 0 0;
	margin: 0 0;
}

.live {
	background-color: yellow !important;
}

.dead {
	background-color: white !important;
}

#title {
	padding: 0;
}

#title-container {
	display:flex;
    align-items: center;
}

#title-container div {
	padding: 0;
}

#tribute-container {
	display: inline-block;
	margin: 0;
}